.git
.gitignore
.env
.env.local
db.sqlite3
*.pyc
__pycache__
.pytest_cache
.venv
venv/
env/
*.egg-info
dist/
build/
.DS_Store
*.log
.coverage
htmlcov/
.vscode/
.idea/
.vscode
*.swp
*.swo
*~
.gitattributes
README.md
.gcloudignore
app.yaml
